launcher.exe
imgui
.vscode
.ninja_log
cache
imgui.ini
.cache
compile_commands.json
launcher.ilk
launcher.pdb
Downloads
Games
Tools
DataContainer*
DCON
.ninja_log
compilation_database.json
compile_commands.json
data.hpp
data_ids.hpp
server.exe
analysis*
callgrind*
gmon.out
output
*.swp
.cache
*.ilk
*.pdb
*.exe
build*